{% extends 'money/base.html' %}
{% block content %}
{% load money_tags %}
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">Счет/касса</th>
            <th scope="col">Валюта</th>
            <th scope="col">Сумма</th>
        </tr>
        </thead>
        <tbody>

        {% for m in data_list %}
        {% if m.sum_reg__sum != 0 %}
        <tr>
            <td>{{m.account__name}}</td>
            <td>{{m.currencie__name}}</td>
            <td>{{m.sum_reg__sum|currency}}  </td>
        </tr>
        {% endif %}
        {% endfor %}

        </tbody>
    </table>
    <b>Итого ({{ main_currencie }}): {{ total }} </b><br>
    <b>Итого ({{ manage_currencie }}): {{ total_manage }} </b><br>
</div>
</main>
</div>
</div>


{% endblock%}