{% extends 'money/base.html' %}
{% block content %}
{% load static %}

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">Наименование</th>
            <th scope="col">Комментарий</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td> <a href="{% url 'report_dynamic_money' %}">Динамика денежных средств</a></td>
            <td></td>
        </tr>
        <tr>
            <td> <a href="{% url 'report_credit_category' %}">Расходы по категориям</a></td>
            <td></td>
        </tr>
        <tr>
            <td> <a href="{% url 'report_debit_credit_line' %}">Сравнительный дебет/кредит (линейный)</a></td>
            <td></td>
        </tr>
        <tr>
            <td> <a href="{% url 'report_debit_credit_bar' %}">Сравнительный дебет/кредит</a></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
</main>
</div>
</div>


{% endblock%}